<div id="<%= dom_id meeting %>">
  <%= link_to edit_meeting_path(meeting), class: "p-6 border shadow-xl
  rounded-xl block hover:shadow-lg transition ease-in duration-300 relative
  overflow-hidden" do %>
  <div
    class="h-1 w-full absolute top-0 left-0 right-0"
    style="background-color: <%= meeting.color %>"
  ></div>
  <h3 class="fon-medium text-2xl"><%= meeting.name %></h3>
  <p class="text-gray-500">View booking page</p>
  <% end %>
</div>
